<!DOCTYPE html>

<html>
    <head>
        <title>PVE Dailies</title>
        <style>
            a {text-decoration: none; color: black;}
        </style>
    </head>

    <body>
        <h1>PVE</h1>
        <p></p><%= names %></p>
        <ul>
            <li>début</li>
        <% names.forEach(function(p, index) { %>
            <li><%= index %> <%= p %></li>
        <% }); %>
            <li>fin</li>
        </ul>

        
        
    </body>
</html>