<!DOCTYPE html>

<html>
    <head>
        <title>PVE Dailies</title>
        <style>
            
        </style>
    </head>

    <body>
        <h1>PVE</h1>
        
        <ul>
            <% names.forEach(function(p, index) { %>
                <li> <%= p %></li>
            <% }); %>
        </ul>
    </body>
</html>